In [5]:
import pandas as pd
import numpy as np

# Format: image_index || Qtype[program] || question_index || image_filename || Q 1/2/3[family index] || split || answer || question

## Validation to JSON

In [6]:
valid = pd.read_csv('FinalQuestionsValidation.csv')
valid

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Question,Original Answer,Question Number,Operation Template,Number Template,New Answer
0,Q1 - 000000.png,Addition,Q1,What is the equivalent to the number of object...,2,5,ch + og,5+2,7
1,Q1 - 000000.png,Addition,Q2,What is the equivalent to the number of object...,2,1,ch + og,1+2,3
2,Q1 - 000000.png,Addition,Q3,What is the equivalent to the number of object...,2,5,ch + og,5+2,7
3,Q1 - 000000.png,Subtraction,Q1,How many more objects are the same size as the...,2,5,og - ch,05-Feb,-3
4,Q1 - 000000.png,Subtraction,Q2,How many more objects are the same size as the...,2,3,og - ch,03-Feb,-1
...,...,...,...,...,...,...,...,...,...
425023,Q35419 - 014999.png,Multiplication,Q2,What is the product of 4 and the number of lar...,0,4,og * ch,0*4,0
425024,Q35419 - 014999.png,Multiplication,Q3,What is the product of 6 and the number of lar...,0,6,og * ch,0*6,0
425025,Q35419 - 014999.png,Division,Q1,What is half of the number of large cubes have...,0,6,og / 2,0/2,0
425026,Q35419 - 014999.png,Division,Q2,What is half of the number of large cubes have...,0,4,og / 2,0/2,0
425027,Q35419 - 014999.png,Division,Q3,What is half of the number of large cubes have...,0,2,og / 2,0/2,0

In [7]:
# image_index
test = valid[["Unnamed: 0"]]
a = test.values.tolist()
image_index = []
for i in a:
    temp = i[0]
    ind = temp.index("-")
    image_index.append(str(int(temp[-11:-4])))
print(len(image_index))

425028

In [8]:
# Qtype
test = valid[["Unnamed: 1"]]
b = test.values.tolist()
Qtype = []
for i in b:
    if i[0] == "Addition":
        Qtype.append(1)
    if i[0] == "Subtraction":
        Qtype.append(2)
    if i[0] == "Multiplication":
        Qtype.append(3)
    if i[0] == "Division":
        Qtype.append(4)
        
len(Qtype)

425028

In [9]:
# question_index
question_index = np.arange(0, 425028).tolist()
len(question_index)

425028

In [10]:
# image_filename
test = valid[["Unnamed: 0"]]
c = test.values.tolist()
image_filename = []
val_text = "CLEVR_val_"
for i in c:
    temp = i[0]
    temp = temp[-11::]
    temp = val_text + str(temp).strip()
    image_filename.append(temp)
len(image_filename)

425028

In [11]:
# Q 1/2/3
test = valid[["Unnamed: 2"]]
d = test.values.tolist()
question_number = []
for i in d:
    temp = i[0]
    question_number.append(temp)
len(question_number)

425028

In [12]:
# split
split = []
split_text = "val"
for i in range(425028):
    split.append(split_text)
len(split)

425028

In [13]:
# answer
test = valid[["New Answer"]]
e = test.values.tolist()
answer = []
for i in e:
    temp = i[0]
    answer.append(temp)
len(answer)

425028

In [14]:
# question
test = valid[["Question"]]
f = test.values.tolist()
question = []
for i in f:
    temp = i[0]
    question.append(temp)
len(question)

425028

In [15]:
finValid = pd.DataFrame()
finValid["image_index"] = image_index
finValid["Qtype"] = Qtype
finValid["question_index"] = question_index
finValid["image_filename"] = image_filename
finValid["question_number"] = question_number
finValid["split"] = split
finValid["answer"] = answer
finValid["question"] = question
finValid

,image_index,Qtype,question_index,image_filename,question_number,split,answer,question
0,0,1,0,CLEVR_val_000000.png,Q1,val,7,What is the equivalent to the number of object...
1,0,1,1,CLEVR_val_000000.png,Q2,val,3,What is the equivalent to the number of object...
2,0,1,2,CLEVR_val_000000.png,Q3,val,7,What is the equivalent to the number of object...
3,0,2,3,CLEVR_val_000000.png,Q1,val,-3,How many more objects are the same size as the...
4,0,2,4,CLEVR_val_000000.png,Q2,val,-1,How many more objects are the same size as the...
...,...,...,...,...,...,...,...,...
425023,14999,3,425023,CLEVR_val_014999.png,Q2,val,0,What is the product of 4 and the number of lar...
425024,14999,3,425024,CLEVR_val_014999.png,Q3,val,0,What is the product of 6 and the number of lar...
425025,14999,4,425025,CLEVR_val_014999.png,Q1,val,0,What is half of the number of large cubes have...
425026,14999,4,425026,CLEVR_val_014999.png,Q2,val,0,What is half of the number of large cubes have...
425027,14999,4,425027,CLEVR_val_014999.png,Q3,val,0,What is half of the number of large cubes have...

In [18]:
a = finValid["image_index"].tolist()
b = a.index("14981")         # 424392
a[b]            # 14980
finValid.iloc[b]

image_index                                                    14981
Qtype                                                              1
question_index                                                424440
image_filename                                  CLEVR_val_014981.png
question_number                                                   Q1
split                                                            val
answer                                                             3
question           What is the number of things are big cyan obje...
Name: 424440, dtype: object

In [19]:
a = finValid.iloc[b][["question"]].tolist()
print(a)

['What is the number of things are big cyan objects or small brown rubber cubes plus 2']

In [18]:
#finValid.to_json("ValidationToBeRenamed.json", orient='records')

In [15]:
##################################################################################################

In [16]:
##################################################################################################

In [17]:
##################################################################################################

## Train to JSON

In [20]:
train = pd.read_csv('FinalQuestionsTrain.csv')
train.head

<bound method NDFrame.head of                   Unnamed: 0   Unnamed: 1 Unnamed: 2  \
0            Q1 - 000000.png     Addition         Q1
1            Q1 - 000000.png     Addition         Q2
2            Q1 - 000000.png     Addition         Q3
3            Q1 - 000000.png  Subtraction         Q1
4            Q1 - 000000.png  Subtraction         Q2
...                      ...          ...        ...
1048570  Q87381 - 036891.png     Division         Q2
1048571  Q87381 - 036891.png     Division         Q3
1048572  Q87382 - 036891.png     Addition         Q1
1048573  Q87382 - 036891.png     Addition         Q2
1048574  Q87382 - 036891.png     Addition         Q3

                                                  Question  Original Answer  \
0        How many things are there of the same shape as...                2
1        How many things are there of the same shape as...                2
2        How many things are there of the same shape as...                2
3        If you remove the number of things are there o...                2
4        If you remove the number of things are there o...                2
...                                                    ...              ...
1048570  If you separate the number of tiny objects hav...                1
1048571  If you separate the number of tiny objects hav...                1
1048572  How many objects are the same size as the blue...                4
1048573  How many objects are the same size as the blue...                4
1048574  How many objects are the same size as the blue...                4

         Question Number Operation Template Number Template New Answer
0                      8            ch + og             8+2         10
1                      6            ch + og             6+2          8
2                      7            ch + og             7+2          9
3                      7            ch - og          02-Jul          5
4                      9            ch - og          02-Sep          7
...                  ...                ...             ...        ...
1048570                5            og / ch          05-Jan        0.2
1048571                6            og / ch          06-Jan        0.2
1048572                3            ch + og             3+4          7
1048573                8            ch + og             8+4         12
1048574                2            ch + og             2+4          6

[1048575 rows x 9 columns]>

In [21]:
# image_index
test = train[["Unnamed: 0"]]
g = test.values.tolist()
image_index = []
for i in g:
    temp = i[0]
    ind = temp.index("-")
    image_index.append(str(int(temp[-11:-4])))
print(len(image_index))

1048575

In [22]:
# Qtype
test = train[["Unnamed: 1"]]
h = test.values.tolist()
Qtype = []
for i in h:
    if i[0] == "Addition":
        Qtype.append(1)
    if i[0] == "Subtraction":
        Qtype.append(2)
    if i[0] == "Multiplication":
        Qtype.append(3)
    if i[0] == "Division":
        Qtype.append(4)
        
len(Qtype)

1048575

In [23]:
# question_index
question_index = np.arange(0, 1048575).tolist()
len(question_index)

1048575

In [24]:
# image_filename
test = train[["Unnamed: 0"]]
j = test.values.tolist()
image_filename = []
val_text = "CLEVR_train_"
for i in j:
    temp = i[0]
    temp = temp[-11::]
    temp = val_text + str(temp).strip()
    image_filename.append(temp)
len(image_filename)

1048575

In [25]:
# Q 1/2/3
test = train[["Unnamed: 2"]]
k = test.values.tolist()
question_number = []
for i in k:
    temp = i[0]
    question_number.append(temp)
len(question_number)

1048575

In [26]:
# split
split = []
split_text = "train"
for i in range(1048575):
    split.append(split_text)
len(split)

1048575

In [27]:
# answer
test = train[["New Answer"]]
l = test.values.tolist()
answer = []
for i in l:
    temp = i[0]
    answer.append(temp)
len(answer)

1048575

In [28]:
# question
test = train[["Question"]]
m = test.values.tolist()
question = []
for i in m:
    temp = i[0]
    question.append(temp)
len(question)

1048575

In [29]:
question[-1]

'How many objects are the same size as the blue ball added to 2'

In [30]:
finTrain = pd.DataFrame()
finTrain["image_index"] = image_index
finTrain["Qtype"] = Qtype
finTrain["question_index"] = question_index
finTrain["image_filename"] = image_filename
finTrain["question_number"] = question_number
finTrain["split"] = split
finTrain["answer"] = answer
finTrain["question"] = question
finTrain

,image_index,Qtype,question_index,image_filename,question_number,split,answer,question
0,0,1,0,CLEVR_train_000000.png,Q1,train,10,How many things are there of the same shape as...
1,0,1,1,CLEVR_train_000000.png,Q2,train,8,How many things are there of the same shape as...
2,0,1,2,CLEVR_train_000000.png,Q3,train,9,How many things are there of the same shape as...
3,0,2,3,CLEVR_train_000000.png,Q1,train,5,If you remove the number of things are there o...
4,0,2,4,CLEVR_train_000000.png,Q2,train,7,If you remove the number of things are there o...
...,...,...,...,...,...,...,...,...
1048570,36891,4,1048570,CLEVR_train_036891.png,Q2,train,0.2,If you separate the number of tiny objects hav...
1048571,36891,4,1048571,CLEVR_train_036891.png,Q3,train,0.2,If you separate the number of tiny objects hav...
1048572,36891,1,1048572,CLEVR_train_036891.png,Q1,train,7,How many objects are the same size as the blue...
1048573,36891,1,1048573,CLEVR_train_036891.png,Q2,train,12,How many objects are the same size as the blue...
1048574,36891,1,1048574,CLEVR_train_036891.png,Q3,train,6,How many objects are the same size as the blue...

In [35]:
finTrain.to_json("TrainToBeRenamed.json", orient='records')

In [52]:
##################################################################################################

In [53]:
##################################################################################################

In [54]:
##################################################################################################