In [1]:
!pip3 install seaborn

Requirement already satisfied: seaborn in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (0.11.2)
Requirement already satisfied: numpy>=1.15 in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.21.1)
Requirement already satisfied: pandas>=0.23 in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.3.1)
Requirement already satisfied: scipy>=1.0 in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (1.7.1)
Requirement already satisfied: matplotlib>=2.2 in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (from seaborn) (3.4.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: six in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /Users/kirangangaraju/opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2021.1)

In [2]:
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize 
import json

## Opening Finalized JSONs

In [3]:
train = pd.read_json (r'CLEVR_v1/data/TrainToBeRenamed.json')
train

,image_index,Qtype,question_index,image_filename,question_number,split,answer,question
0,0,1,0,CLEVR_train_000000.png,Q1,train,10,How many things are there of the same shape as...
1,0,1,1,CLEVR_train_000000.png,Q2,train,8,How many things are there of the same shape as...
2,0,1,2,CLEVR_train_000000.png,Q3,train,9,How many things are there of the same shape as...
3,0,2,3,CLEVR_train_000000.png,Q1,train,5,If you remove the number of things are there o...
4,0,2,4,CLEVR_train_000000.png,Q2,train,7,If you remove the number of things are there o...
...,...,...,...,...,...,...,...,...
1048570,36891,4,1048570,CLEVR_train_036891.png,Q2,train,0.2,If you separate the number of tiny objects hav...
1048571,36891,4,1048571,CLEVR_train_036891.png,Q3,train,0.2,If you separate the number of tiny objects hav...
1048572,36891,1,1048572,CLEVR_train_036891.png,Q1,train,7,How many objects are the same size as the blue...
1048573,36891,1,1048573,CLEVR_train_036891.png,Q2,train,12,How many objects are the same size as the blue...
1048574,36891,1,1048574,CLEVR_train_036891.png,Q3,train,6,How many objects are the same size as the blue...

In [4]:
train["question"][1048573]

'How many objects are the same size as the blue ball added to 8'

In [5]:
valid = pd.read_json (r'CLEVR_v1/data/ValidationToBeRenamed.json')
valid

,image_index,Qtype,question_index,image_filename,question_number,split,answer,question
0,0,1,0,CLEVR_val_000000.png,Q1,val,7,What is the equivalent to the number of object...
1,0,1,1,CLEVR_val_000000.png,Q2,val,3,What is the equivalent to the number of object...
2,0,1,2,CLEVR_val_000000.png,Q3,val,7,What is the equivalent to the number of object...
3,0,2,3,CLEVR_val_000000.png,Q1,val,-3,How many more objects are the same size as the...
4,0,2,4,CLEVR_val_000000.png,Q2,val,-1,How many more objects are the same size as the...
...,...,...,...,...,...,...,...,...
425023,14999,3,425023,CLEVR_val_014999.png,Q2,val,0,What is the product of 4 and the number of lar...
425024,14999,3,425024,CLEVR_val_014999.png,Q3,val,0,What is the product of 6 and the number of lar...
425025,14999,4,425025,CLEVR_val_014999.png,Q1,val,0,What is half of the number of large cubes have...
425026,14999,4,425026,CLEVR_val_014999.png,Q2,val,0,What is half of the number of large cubes have...
425027,14999,4,425027,CLEVR_val_014999.png,Q3,val,0,What is half of the number of large cubes have...

In [6]:
data_test = json.load(open (r'CLEVR_v1/data/CLEVR_test_questions.json'))
test = pd.DataFrame(data_test["questions"])
test

,image_index,split,image_filename,question_index,question
0,0,test,CLEVR_test_000000.png,0,Is there anything else that is the same shape ...
1,0,test,CLEVR_test_000000.png,1,How many brown rubber objects are the same sha...
2,0,test,CLEVR_test_000000.png,2,Does the tiny brown object have the same mater...
3,0,test,CLEVR_test_000000.png,3,How many tiny red rubber balls are there?
4,0,test,CLEVR_test_000000.png,4,What size is the rubber object that is to the ...
...,...,...,...,...,...
149983,14999,test,CLEVR_test_014999.png,149983,The red thing is what size?
149984,14999,test,CLEVR_test_014999.png,149984,Are there any other red things of the same sha...
149985,14999,test,CLEVR_test_014999.png,149985,What number of objects are gray spheres or gra...
149986,14999,test,CLEVR_test_014999.png,149986,There is a small rubber object in front of the...
149987,14999,test,CLEVR_test_014999.png,149987,There is a yellow cube that is behind the larg...

In [7]:
############################################################################################

In [8]:
############################################################################################

In [9]:
############################################################################################

## CLEVR - Answer Distribution

In [10]:
clevr_val = pd.read_excel('ValidationCountingQuestions.xlsx')
clevr_val

,image_filename,question_index,question_family_index,question,answer,program
0,CLEVR_val_000000.png,5,40,What number of other objects are the same size...,2,"[{'inputs': [], 'function': 'scene', 'value_in..."
1,CLEVR_val_000000.png,6,70,How many objects are either metal things behin...,2,"[{'inputs': [], 'function': 'scene', 'value_in..."
2,CLEVR_val_000001.png,12,68,How many metallic objects are big blue cubes o...,2,"[{'inputs': [], 'function': 'scene', 'value_in..."
3,CLEVR_val_000001.png,15,42,What number of other things are the same mater...,6,"[{'inputs': [], 'function': 'scene', 'value_in..."
4,CLEVR_val_000001.png,16,65,How many large things are either cyan metallic...,0,"[{'inputs': [], 'function': 'scene', 'value_in..."
...,...,...,...,...,...,...
35414,CLEVR_val_014998.png,149973,78,There is a metal thing that is behind the smal...,0,"[{'inputs': [], 'function': 'scene', 'value_in..."
35415,CLEVR_val_014998.png,149977,50,How many small cylinders have the same materia...,0,"[{'inputs': [], 'function': 'scene', 'value_in..."
35416,CLEVR_val_014998.png,149979,25,How many green metallic things are right of th...,0,"[{'inputs': [], 'function': 'scene', 'value_in..."
35417,CLEVR_val_014998.png,149980,72,There is a tiny green object; how many small g...,0,"[{'inputs': [], 'function': 'scene', 'value_in..."
35418,CLEVR_val_014999.png,149990,50,What number of large cubes have the same mater...,0,"[{'inputs': [], 'function': 'scene', 'value_in..."

In [11]:
clevr_val_values = clevr_val["answer"].tolist()
clevr_val_values

[2,
 2,
 2,
 6,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 3,
 2,
 0,
 3,
 1,
 1,
 3,
 2,
 1,
 2,
 5,
 1,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 3,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 3,
 2,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 5,
 3,
 3,
 3,
 2,
 0,
 2,
 0,
 0,
 2,
 1,
 3,
 1,
 3,
 4,
 1,
 1,
 1,
 4,
 0,
 2,
 4,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 5,
 1,
 1,
 0,
 3,
 0,
 1,
 1,
 3,
 0,
 1,
 4,
 0,
 2,
 1,
 1,
 1,
 4,
 3,
 0,
 0,
 1,
 3,
 1,
 1,
 2,
 0,
 1,
 7,
 2,
 4,
 2,
 1,
 0,
 2,
 1,
 1,
 1,
 5,
 1,
 0,
 0,
 1,
 4,
 5,
 1,
 1,
 3,
 1,
 1,
 0,
 3,
 2,
 1,
 3,
 3,
 3,
 3,
 2,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 2,
 0,
 3,
 0,
 1,
 0,
 1,
 0,
 6,
 0,
 0,
 2,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 3,
 1,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 4,
 4,
 5,
 1,
 0,
 1,
 1,
 1,
 5,
 3,
 1,
 1,
 4,
 1,
 6,
 3,
 4,
 2,
 0,
 3,
 1,
 0,
 2,
 0,
 1,
 1,
 2,
 2,
 1,
 0,
 2,
 3,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 2,
 1,
 4,
 4,
 2,
 1,
 1,
 1,
 0,
 3,
 1,
 0,
 0,
 1,
 0,
 0,
 3,
 0,
 1,
 0,
 1,
 1,
 2,
 0,
 0,
 2,
 0,
 4,
 0,
 2,
 3,
 1,
 3,
 0,
 6,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 4,
 3,
 2,
 1,
 0,
 2,
 0,
 0,
 1,
 1,
 3,
 2,
 1,
 1,
 2,
 1,
 1,
 3,
 0,
 2,
 5,
 0,
 0,
 1,
 1,
 2,
 3,
 0,
 1,
 0,
 0,
 2,
 2,
 0,
 1,
 1,
 0,
 1,
 2,
 3,
 3,
 1,
 1,
 2,
 4,
 4,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 3,
 1,
 3,
 1,
 2,
 1,
 1,
 2,
 0,
 0,
 4,
 1,
 1,
 0,
 0,
 3,
 0,
 0,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 2,
 3,
 4,
 0,
 5,
 2,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 1,
 3,
 3,
 2,
 5,
 1,
 3,
 2,
 1,
 0,
 0,
 2,
 3,
 2,
 1,
 2,
 3,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 2,
 5,
 2,
 5,
 0,
 1,
 0,
 0,
 1,
 2,
 1,
 1,
 1,
 4,
 1,
 1,
 0,
 2,
 2,
 2,
 0,
 1,
 5,
 1,
 2,
 1,
 2,
 2,
 0,
 3,
 2,
 5,
 6,
 0,
 0,
 4,
 1,
 1,
 1,
 4,
 2,
 0,
 1,
 0,
 2,
 0,
 1,
 3,
 3,
 1,
 1,
 1,
 1,
 1,
 0,
 3,
 3,
 2,
 1,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 0,
 4,
 0,
 7,
 1,
 0,
 2,
 2,
 4,
 1,
 0,
 0,
 1,
 1,
 2,
 2,
 2,
 0,
 1,
 2,
 4,
 1,
 0,
 3,
 0,
 2,
 0,
 2,
 0,
 0,
 1,
 0,
 7,
 1,
 4,
 3,
 7,
 1,
 4,
 0,
 1,
 0,
 0,
 3,
 1,
 3,
 0,
 3,
 2,
 1,
 0,
 1,
 0,
 3,
 2,
 1,
 2,
 0,
 4,
 3,
 3,
 0,
 1,
 3,
 4,
 1,
 1,
 0,
 2,
 2,
 0,
 2,
 1,
 1,
 1,
 2,
 3,
 0,
 1,
 0,
 1,
 2,
 0,
 4,
 1,
 3,
 3,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 2,
 2,
 5,
 1,
 1,
 0,
 1,
 2,
 3,
 0,
 3,
 0,
 1,
 0,
 0,
 3,
 3,
 2,
 1,
 1,
 1,
 0,
 2,
 0,
 1,
 1,
 5,
 1,
 1,
 1,
 2,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 3,
 5,
 0,
 2,
 0,
 0,
 2,
 1,
 1,
 1,
 2,
 0,
 0,
 1,
 0,
 1,
 0,
 2,
 2,
 0,
 0,
 2,
 1,
 3,
 1,
 1,
 1,
 5,
 0,
 1,
 3,
 3,
 0,
 1,
 0,
 2,
 1,
 8,
 0,
 3,
 1,
 2,
 2,
 1,
 0,
 2,
 1,
 3,
 1,
 1,
 0,
 0,
 3,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 2,
 1,
 0,
 2,
 3,
 1,
 2,
 0,
 0,
 0,
 1,
 5,
 0,
 0,
 0,
 2,
 2,
 2,
 0,
 0,
 3,
 0,
 0,
 2,
 1,
 1,
 0,
 3,
 1,
 0,
 3,
 0,
 2,
 2,
 1,
 1,
 3,
 1,
 0,
 0,
 1,
 1,
 1,
 3,
 0,
 2,
 3,
 2,
 0,
 4,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 2,
 2,
 2,
 0,
 1,
 2,
 0,
 1,
 0,
 4,
 2,
 2,
 3,
 4,
 5,
 2,
 2,
 2,
 0,
 1,
 4,
 2,
 1,
 0,
 0,
 0,
 0,
 3,
 0,
 1,
 0,
 2,
 0,
 3,
 0,
 3,
 2,
 3,
 3,
 1,
 2,
 0,
 1,
 0,
 0,
 4,
 5,
 1,
 3,
 2,
 0,
 2,
 1,
 0,
 1,
 1,
 1,
 5,
 0,
 2,
 1,
 1,
 4,
 1,
 1,
 0,
 0,
 2,
 1,
 2,
 2,
 1,
 0,
 0,
 0,
 4,
 1,
 2,
 2,
 4,
 3,
 6,
 1,
 2,
 3,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 2,
 1,
 1,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 2,
 2,
 4,
 2,
 0,
 0,
 1,
 5,
 2,
 2,
 3,
 0,
 2,
 0,
 1,
 0,
 3,
 3,
 0,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 5,
 0,
 2,
 0,
 5,
 1,
 1,
 2,
 2,
 3,
 2,
 2,
 2,
 0,
 0,
 2,
 0,
 2,
 1,
 0,
 0,
 6,
 3,
 3,
 2,
 2,
 1,
 2,
 3,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 2,
 0,
 0,
 3,
 0,
 0,
 0,
 1,
 2,
 2,
 1,
 1,
 0,
 3,
 0,
 2,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 2,
 1,
 0,
 0,
 1,
 5,
 1,
 2,
 0,
 1,
 2,
 2,
 0,
 0,
 0,
 3,
 3,
 4,
 2,
 3,
 1,
 0,
 0,
 0,
 3,
 2,
 0,
 2,
 1,
 1,
 1,
 2,
 4,
 1,
 2,
 2,
 1,
 1,
 0,
 6,
 0,
 6,
 1,
 1,
 1,
 0,
 2,
 1,
 0,
 2,
 0,
 0,
 1,
 0,
 3,
 2,
 2,
 1,
 2,
 3,
 0,
 3,
 0,
 0,
 2,
 1,
 3,
 3,
 0,
 0,
 0,
 2,
 0,
 5,
 1,
 2,
 1,
 0,
 1,
 3,
 1,
 0,
 1,
 2,
 0,
 2,
 2,
 1,
 2,
 2,
 1,
 0,
 2,
 4,
 6,
 ...]

In [12]:
clevr_val_values = clevr_val["answer"].tolist()
clevr_val_x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
clevr_val_y = []
for i in range (max(clevr_val_values)+1):
    clevr_val_y.append(clevr_val_values.count(i))
clevr_val_y

[10520, 12313, 6300, 3368, 1598, 760, 337, 155, 48, 20]

In [13]:
sum(clevr_val_y)

35419

In [14]:
clevr_histo_val = pd.DataFrame()
clevr_histo_val["X"] = clevr_val_x
clevr_histo_val["Y"] = clevr_val_y
clevr_val_x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
clevr_histo_val.to_excel("histo_val.xlsx")

In [16]:
# ------------------------------------------------------------- #

In [17]:
clevr_train = pd.read_excel('TrainCountingQuestions.xlsx')
clevr_train

,image_filename,question_index,question_family_index,question,answer,program
0,CLEVR_train_000000.png,1,43,How many other things are there of the same sh...,2,"[{'inputs': [], 'function': 'scene', 'value_in..."
1,CLEVR_train_000000.png,5,25,How many gray matte things are on the right si...,0,"[{'inputs': [], 'function': 'scene', 'value_in..."
2,CLEVR_train_000001.png,10,48,How many gray rubber cubes are the same size a...,0,"[{'inputs': [], 'function': 'scene', 'value_in..."
3,CLEVR_train_000001.png,17,78,What number of red spheres are behind the shin...,0,"[{'inputs': [], 'function': 'scene', 'value_in..."
4,CLEVR_train_000001.png,19,25,There is a yellow thing behind the small metal...,1,"[{'inputs': [], 'function': 'scene', 'value_in..."
...,...,...,...,...,...,...
165377,CLEVR_train_069998.png,699974,50,How many big brown cylinders are made of the s...,0,"[{'inputs': [], 'function': 'scene', 'value_in..."
165378,CLEVR_train_069998.png,699975,78,What number of cubes are to the right of the g...,1,"[{'inputs': [], 'function': 'scene', 'value_in..."
165379,CLEVR_train_069998.png,699978,64,What number of things are either tiny green ru...,1,"[{'inputs': [], 'function': 'scene', 'value_in..."
165380,CLEVR_train_069999.png,699979,31,What number of objects are both on the right s...,0,"[{'inputs': [], 'function': 'scene', 'value_in..."
165381,CLEVR_train_069999.png,699981,50,What number of green cylinders have the same m...,1,"[{'inputs': [], 'function': 'scene', 'value_in..."

In [18]:
clevr_train_values = clevr_train["answer"].tolist()
clevr_train_x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
clevr_train_y = []
for i in range (max(clevr_train_values)+1):
    clevr_train_y.append(clevr_train_values.count(i))
clevr_train_y

[48658, 57907, 29855, 15256, 7418, 3615, 1662, 647, 259, 105]

In [19]:
sum(clevr_train_y)

165382

In [20]:
clevr_histo_train = pd.DataFrame()
clevr_histo_train["X"] = clevr_train_x
clevr_histo_train["Y"] = clevr_train_y
clevr_train_x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
image_no = clevr_val['image_filename'].tolist()
image_no= set(image_no)
number_of_unique_values = len(image_no)
print(number_of_unique_values)

14251

In [22]:
clevr_histo_train.to_excel("histo_train.xlsx")

In [23]:
############################################################################################

In [24]:
############################################################################################

In [25]:
############################################################################################

## CLEVR Ops - Answer Distribution

In [26]:
ops_val = pd.read_csv('FinalQuestionsValidation.csv')
ops_val

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Question,Original Answer,Question Number,Operation Template,Number Template,New Answer
0,Q1 - 000000.png,Addition,Q1,What is the equivalent to the number of object...,2,5,ch + og,5+2,7
1,Q1 - 000000.png,Addition,Q2,What is the equivalent to the number of object...,2,1,ch + og,1+2,3
2,Q1 - 000000.png,Addition,Q3,What is the equivalent to the number of object...,2,5,ch + og,5+2,7
3,Q1 - 000000.png,Subtraction,Q1,How many more objects are the same size as the...,2,5,og - ch,05-Feb,-3
4,Q1 - 000000.png,Subtraction,Q2,How many more objects are the same size as the...,2,3,og - ch,03-Feb,-1
...,...,...,...,...,...,...,...,...,...
425023,Q35419 - 014999.png,Multiplication,Q2,What is the product of 4 and the number of lar...,0,4,og * ch,0*4,0
425024,Q35419 - 014999.png,Multiplication,Q3,What is the product of 6 and the number of lar...,0,6,og * ch,0*6,0
425025,Q35419 - 014999.png,Division,Q1,What is half of the number of large cubes have...,0,6,og / 2,0/2,0
425026,Q35419 - 014999.png,Division,Q2,What is half of the number of large cubes have...,0,4,og / 2,0/2,0
425027,Q35419 - 014999.png,Division,Q3,What is half of the number of large cubes have...,0,2,og / 2,0/2,0

In [37]:
ops_val_values = ops_val["New Answer"].tolist()
count = 0
for i in ops_val_values:
    if (len(i) == 1):
        ops_val_values[count] = int(ops_val_values[count])
    elif (i[1] == "/"):
        ops_val_values[count] = 0
    elif (i[1] == "%"):
        ops_val_values[count] = 0
    else:
        ops_val_values[count] = float(ops_val_values[count])
    count += 1
len(ops_val_values)

425028

In [42]:
h = set(ops_val_values)
print(len(h))
ops_val_y = []
for x in h:
    ops_val_y.append(ops_val_values.count(x))
ops_val_y
print(len(ops_val_y))

72
72

In [39]:
ops_val_x = h
len(ops_val_x)

72

In [43]:
sum(ops_val_y)

425028

In [45]:
print(ops_val_x)

{0, 1, 2, 3, 4, 4.5, 3.5, 7, 8, 2.5, 0.5, 10.0, 12.0, 13.0, 14.0, 6, 16.0, 9, 18.0, 11.0, 15.0, 20.0, 21.0, 17.0, 24.0, 0.6, 5, 25.0, 27.0, 28.0, 30.0, 1.5, 32.0, 35.0, 36.0, 1.1, 1.6, 40.0, 42.0, 45.0, 48.0, 0.7, 49.0, 0.2, 54.0, 1.7, 1.2, 56.0, 63.0, 0.1, 64.0, 72.0, 2.7, 2.3, 0.3, 2.2, 0.8, 81.0, 1.3, 1.8, 1.4, 0.4, 0.9, -2.0, -9.0, -8.0, -7.0, -6.0, -5.0, -4.0, -3.0, -1.0}

In [46]:
print(ops_val_y)

[80460, 25824, 27763, 26381, 25648, 505, 560, 20590, 22142, 713, 6596, 10404, 5715, 926, 2234, 26883, 2161, 19486, 2754, 4104, 1639, 622, 986, 29, 1412, 983, 21140, 189, 893, 454, 297, 1727, 439, 231, 539, 27, 61, 208, 140, 220, 78, 2514, 45, 8766, 108, 513, 503, 66, 49, 4886, 17, 19, 292, 302, 6087, 138, 1519, 4, 780, 222, 73, 2126, 100, 7051, 1977, 4163, 5311, 5942, 6299, 6450, 6705, 7838]

In [48]:
ops_histo_val = pd.DataFrame()
ops_histo_val["X"] = list(ops_val_x)
ops_histo_val["Y"] = ops_val_y

In [49]:
ops_histo_val.to_excel("ops_val.xlsx")

In [50]:
# ------------------------------------------------------------- #

In [51]:
ops_train = pd.read_csv('FinalQuestionsTrain.csv')
ops_train

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Question,Original Answer,Question Number,Operation Template,Number Template,New Answer
0,Q1 - 000000.png,Addition,Q1,How many things are there of the same shape as...,2,8,ch + og,8+2,10
1,Q1 - 000000.png,Addition,Q2,How many things are there of the same shape as...,2,6,ch + og,6+2,8
2,Q1 - 000000.png,Addition,Q3,How many things are there of the same shape as...,2,7,ch + og,7+2,9
3,Q1 - 000000.png,Subtraction,Q1,If you remove the number of things are there o...,2,7,ch - og,02-Jul,5
4,Q1 - 000000.png,Subtraction,Q2,If you remove the number of things are there o...,2,9,ch - og,02-Sep,7
...,...,...,...,...,...,...,...,...,...
1048570,Q87381 - 036891.png,Division,Q2,If you separate the number of tiny objects hav...,1,5,og / ch,05-Jan,0.2
1048571,Q87381 - 036891.png,Division,Q3,If you separate the number of tiny objects hav...,1,6,og / ch,06-Jan,0.2
1048572,Q87382 - 036891.png,Addition,Q1,How many objects are the same size as the blue...,4,3,ch + og,3+4,7
1048573,Q87382 - 036891.png,Addition,Q2,How many objects are the same size as the blue...,4,8,ch + og,8+4,12
1048574,Q87382 - 036891.png,Addition,Q3,How many objects are the same size as the blue...,4,2,ch + og,2+4,6

In [52]:
ops_train_values = ops_train["New Answer"].tolist()
count = 0
for i in ops_train_values:
    if (len(i) == 1):
        ops_train_values[count] = int(ops_train_values[count])
    elif (i[1] == "/"):
        ops_train_values[count] = 0
    elif (i[1] == "%"):
        ops_train_values[count] = 0
    else:
        ops_train_values[count] = float(ops_train_values[count])
    count += 1
len(ops_train_values)

1048575

In [54]:
h = set(ops_train_values)
print(len(h))
ops_train_y = []
for x in h:
    ops_train_y.append(ops_train_values.count(x))
ops_train_y
print(len(ops_train_y))

72
72

In [55]:
sum(ops_train_y)

1048575

In [61]:
ops_train_x = h
print(len(ops_train_x))

72

In [59]:
ops_histo_train = pd.DataFrame()
ops_histo_train["X"] = list(ops_train_x)
ops_histo_train["Y"] = ops_train_y

In [62]:
ops_histo_train.to_excel("ops_train.xlsx")

In [66]:
len(ops_train_x)

72